@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-size: 16pt;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.active {
  font-weight: 500;
}
.active::before {
  content: "";
  position: relative;
  height: 0;
  width: 0;
  left: -.2rem;
  border-top: .3rem solid transparent;
  border-bottom: .3rem solid transparent;
  border-left: .5rem solid black;
}

.bg-static-gradient {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
}

.bg-moving-gradient {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: bg-Gradient 15s ease infinite;
}

@keyframes bg-Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}